{% extends "base.html" %}
{% block background %}body {background-image: url({{ url_for('static', filename='img/awsda-background.jpg') }});}
{%endblock%}
{% block title %}AWS DA{% endblock %}
{% block content %}
<div class="card-deck w-100 p-3">
  <div class="card border-success mb-3 w-100 p-3">
    <div class="card-header bg-transparent border-primary"  style="background-image: url('{{ url_for('static', filename='img/awsda-background.jpg') }}');">
      <p align="center"><img src="static/img/AWS_Dec_As-removebg-preview (1).png" alt="AWS Decission Assistant"></p>

    </div>

    <div class="card-body">
      <ul class="list-group" >

        <li class="list-group-item">
          <p align="left"><a href="/aboutawsda" class="btn btn-outline-secondary btn-sm float-left">About AWS DA</a><h5 align="right" class="text-secondary">Step 1</h5></p>

      <h3 align="center">Does your project require a specific database engine</br>(e.g. MySQL, PostgreSQL, MongoDB etc.)?</h3></br>
      </br>
          <div class="table-responsive ">
            <table class="table table-bordered">


              <tbody>
              <tr class="table-success">

                <td><a href="/awsda-q2" class="btn btn-success btn-block">YES</a></td>
              </tr>
              <tr class="table-success">

                <td><a href="/awsda-q3" class="btn btn-success btn-block">NO / I Don't know</a></td>
              </tr>


              </tbody>
            </table>
          </div>

        </li>
      </ul>
    </div>

  </div>


</div>


{% endblock %}