{% extends "./base.html" %}

{% block title %}Edytuj książkę{% endblock %}
{% block content %}

<div class="card-deck  p-4" >
    <div class="card border-primary ">
        <div class="card-header bg-transparent border-primary ">
            <h1 align="center" class="text-dark">Twój internetowy księgozbiór</h1>
        </div>
        <div class="card-body">
            <ul class="list-group" >
                <li class="list-group-item list-group-item-primary">
                    <h4 align="center">Edytuj pozycję</h4>
                </li>
                <li class="list-group-item list-group-item-secondary">
                    <div class="row">
                        <div class="col-lg">
                            <a href="/" id="addBook" class="btn btn-primary btn-sm float-left">Strona główna</a>
                            <a href="/import-from-API" id="importFromAPI" class="btn btn-primary btn-sm float-right">Importuj książki z Google Books</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-secondary">
                    <p><small>Uzupełnij tylko te pola, które chcesz zmienić.
                        <br>
                        Jeśli jest więcej niż jeden autor- oddziel ich nazwiska średnikiem ;</small></p>
                    <form method="POST" onSubmit="return confirm('Czy na pewno zapisać zmiany?');">
                        {% csrf_token %}
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="title" class="text-dark">Tytuł:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="title"
                                           name="title" placeholder="{{book.title}}" aria-label="Tytuł">
                                </div>
                            </div>
                            <div class="col-auto my-1">
                                <label for="author" class="text-dark">Autor:</label>
                                <input type="text" class="form-control" id="author"
                                       name="author" placeholder="{{book.author}}" aria-label="Autor">

                            </div>
                            <div class="col-auto my-1">
                                <label for="pubDate">Data publikacji:</label>
                                <input type="date" class="form-control" id="pubDate"
                                       name="pubDate" value='{{book.publication_date| date:"Y-m-d"}}'  aria-label="Data publikacji" >
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="isbn">ISBN <small>(tylko prawidłowy ISBN zostanie zapisany)</small>:</label>
                                <input type="text" class="form-control" id="isbn"
                                       name="isbn" placeholder="{{book.isbn}}" aria-label="ISBN">
                            </div>

                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="number_of_pages">Liczba stron:</label>
                                <input type="number" class="form-control" id="number_of_pages"
                                       name="number_of_pages" placeholder="{{book.page_count}}" aria-label="liczba stron" step="1" min="0">
                            </div>
                            <div class="col-auto my-1">
                                <label for="link_to_cover">Link do okładki:</label>
                                <input type="url" class="form-control" id="link_to_cover"
                                       name="link_to_cover" placeholder="{{book.link_to_cover}}" aria-label="link do okładki">
                            </div>
                            <div class="col-auto my-1">
                                <label for="language" class="text-dark">Język:</label>
                                <input type="text" class="form-control" id="language"
                                       name="language" placeholder="{{book.publication_language}}" aria-label="Język">
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg">
                                <button class="btn btn-primary float-right" name="save" value="save" type="submit">Zapisz zmiany</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
