{% extends "./base.html" %}

{% block title %}Importuj książki{% endblock %}
{% block content %}

<div class="card-deck  p-4" >
    <div class="card border-primary ">
        <div class="card-header bg-transparent border-primary ">
            <h1 align="center" class="text-dark">Twój internetowy księgozbiór</h1>
        </div>
        <div class="card-body">
            <ul class="list-group" >
                <li class="list-group-item list-group-item-primary">
                    <h4 align="center">Importuj książki z Google Books</h4>
                </li>
                <li class="list-group-item list-group-item-secondary">
                    <div class="row">
                        <div class="col-lg">
                            <a href="/" class="btn btn-primary btn-sm float-left">Strona główna</a>
                            <a href="/add-book"class="btn btn-primary btn-sm float-right">Dodaj książkę ręcznie</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-secondary">
                    <h5>Wyszukaj książki w Google Books</h5>
                    <p><small>Uzupełnij min. jendo z poniższych pól.
                    <br>
                    Jeśli uzupełnisz więcej niż jedno pole, wyszukasz książki, które spełniają jednocześnie wszystkie kryteria.</small></p>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="searchInAllFields" class="text-dark">Szukaj we wszystkich polach <small>(także we fragmentach tekstu)</small>:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchInAllFields"
                                           name="searchInAllFields" placeholder="Szukaj we wszystkich polach" aria-label="Szukaj we wszystkich polach">
                                </div>
                            </div>
                        </div>
                        <br>
                        <p>Szukaj w wybranych polach:</p>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="inTitle" class="text-dark">Tytuł:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inTitle"
                                           name="inTitle" placeholder="Tytuł" aria-label="Tytuł">
                                </div>
                            </div>
                            <div class="col-auto my-1">
                                <label for="inAuthor" class="text-dark">Autor:</label>
                                <input type="text" class="form-control" id="inAuthor"
                                       name="inAuthor" placeholder="Autor" aria-label="Autor">
                            </div>
                            <div class="col-auto my-1">
                                <label for="inPublisher" class="text-dark">Wydawca:</label>
                                <input type="text" class="form-control" id="inPublisher"
                                       name="inPublisher" placeholder="Wydawca" aria-label="Wydawca">
                            </div>
                            <div class="col-auto my-1">
                                <label for="subject" class="text-dark">Gatunek (kategoria):</label>
                                <input type="text" class="form-control" id="subject"
                                       name="subject" placeholder="Gatunek" aria-label="Gatunek">
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="isbn">ISBN:</label>
                                <input type="text" class="form-control" id="isbn"
                                       name="isbn" placeholder="ISBN 10 lub 13" aria-label="ISBN 10 lub 13">
                            </div>
                            <div class="col-auto my-1">
                                <label for="lcnn">LCCN:</label>
                                <input type="number" class="form-control" id="lcnn"
                                       name="lcnn" placeholder="LCCN" aria-label="LCCN" step="1" min="0">
                            </div>
                            <div class="col-auto my-1">
                                <label for="oclc">OCLC:</label>
                                <input type="number" class="form-control" id="oclc"
                                       name="oclc" placeholder="OCLC" aria-label="OCLC" step="1" min="0">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg">
                                <div id="content">
                                <button class="btn btn-primary float-right" name="searchInGB" value="searchInGB" type="submit" onclick="loading();">Szukaj</button>
                                </div>
                                <div id="loading">
                                    <button class="btn btn-primary float-right" name="searchInGB" value="searchInGB" type="submit" aria-disabled="true" disabled>Szukaj</button>

                                    <div class="d-flex justify-content-center">
                                        <strong>Szukam książek...</strong>
                                        <div class="spinner-border m-1 text-primary" role="status" aria-hidden="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="list-group-item list-group-item">
                    <h6 align="center">Dodaj pozycje do księgozbioru</h6>
                    <div class="row">

                        <div class="col-lg">
                            {% if not 'Znaleziono' in info  %}
                            <button class="btn btn-primary btn-sm float-right" name="addAll" value="addAll" type="submit" aria-disabled="true" disabled>Dodaj wszystkie</button>
                            {% else %}

                            <form method="post">
                                {% csrf_token %}
                            <button class="btn btn-primary btn-sm float-right" name="addAll" value="addAll" type="submit" >Dodaj wszystkie</button>
                            </form>

                            {% endif %}
                        </div>
                    </div>
                    {% if info == 'before_result' %}
                    <p align="center"><small>Tu zobaczysz wynik wyszukiwania</small></p>
                    {% elif info == 'no_result' %}
                    <p align="center"><b>Brak wyników dla podanych kryteriów</b></p>
                    {% elif info == 'error' %}
                    <p align="center" style="color:red;"><b>Wystąpił błąd przy połączeniu z Google Books</b></p>
                </li>
            </ul>
            {% else %}
            <p style="color:green;">{{ info }} <small>(odrzucono powtórzenia) Aby posortować wyniki, kliknij nagłówek kolumny.</small></p>
            <li class="list-group-item list-group-item">
                <div class="table-responsive "  style="height: 400px">

                    <table class="table table-hover table-sm" id="myTable2">
                        <thead>
                        <tr>

                            <th scope="col" onclick="sortTable('myTable2',0)">Tytuł</th>
                            <th scope="col" onclick="sortTable('myTable2',1)">Autor</th>
                            <th scope="col" onclick="sortTable('myTable2',2)">Data publikacji</th>
                            <th scope="col" onclick="sortTable('myTable2',3)">ISBN</th>
                            <th scope="col" onclick="sortTable('myTable2',4)">L. stron</th>
                            <th scope="col" onclick="sortTable('myTable2',5)">Okładka</th>
                            <th scope="col" onclick="sortTable('myTable2',6)">Język</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% load index %}
                        {% for i in range %}
                        <tr>
                            <td><b>{{ books_info_d.add_title|index:forloop.counter0 }}</b></td>
                            <td>{{ books_info_d.add_author|index:forloop.counter0 }}</td>
                            <td>{{ books_info_d.add_pub_date|index:forloop.counter0 }}</td>
                            <td>{{ books_info_d.clean_isbn|index:forloop.counter0 }}</td>
                            <td>{{ books_info_d.add_page_count|index:forloop.counter0 }}</td>
                            <td>{% if books_info_d.add_link_to_cover|index:forloop.counter0 == '---' %}
                                ---
                                {% else %}
                                <a href="{{ books_info_d.add_link_to_cover|index:forloop.counter0 }}" target="_blank">link</a>
                                {% endif %}
                            </td>
                            <td>{{ books_info_d.add_language|index:forloop.counter0 }}</td>
                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </li>

            {% endif %}
                <li class="list-group-item list-group-item">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header bg-transparent " id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-secondary btn-block btn-sm float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                                        Pokaż kolekcję książek
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    {% if empty_table %}
                                    <h6 align="center">Twoja kolekcja książek jest pusta.</h6>
                                    {% else %}
                                    <div class="table-responsive " style="height: 200px">

                                        <table class="table table-hover table-sm" id="myTable3">
                                            <thead>
                                            <tr>
                                                <th scope="col" onclick="sortTable('myTable3',0)">Tytuł</th>
                                                <th scope="col" onclick="sortTable('myTable3',1)">Autor</th>
                                                <th scope="col" onclick="sortTable('myTable3',2)">Data publikacji</th>
                                                <th scope="col" onclick="sortTable('myTable3',3)">ISBN</th>
                                                <th scope="col" onclick="sortTable('myTable3',4)">L. stron</th>
                                                <th scope="col" onclick="sortTable('myTable3',5)">Okładka</th>
                                                <th scope="col" onclick="sortTable('myTable3',6)">Język</th>
                                                <th scope="col" >Edytuj</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for book in books %}
                                            <tr>
                                                <td><b>{{ book.title }}</b></td>
                                                <td>{{ book.author }}</td>
                                                <td>{{ book.publication_date| date:"Y-m-d" }}</td>
                                                <td>{{ book.isbn_10 }}</td>
                                                <td>{{ book.page_count }}</td>
                                                <td>{% if book.link_to_cover == '---' %}
                                                    ---
                                                    {% else %}
                                                    <a href="{{book.link_to_cover}}" target="_blank">link</a>
                                                    {% endif %}
                                                </td>
                                                <td>{{ book.publication_language }}</td>
                                                <td><a href="/edit-book/{{ book.id }}" >Edytuj</a></td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
